@mixin width_and_height($width: 30%, $height) {
    width: $width;
    height: $height;
}

@mixin centerposition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
