@mixin width_and_height($width: 30%, $height) {
    width: $width;
    height: $height;
}

@mixin centerposition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

HYG & SAN TECH COMPANY that pushes the company upward.
􀁓􀁕􀁒􀁙􀁌􀁇􀁈􀀃􀁈􀎍􀁈􀁆􀁗􀁌􀁙􀁈􀀃
solutions and added value to customers.
Individuality.
HYG & SAN TECH COMPANY capabilities that each employee brings to the team.
Trust.
The work environment is open, honest, collaborative, and family oriented.
Creativity.
Our professionals are fountains of new ideas, fueling better products, services,
and processes.
HYG & SAN TECH COMPANY embraces laughter, humor, and having fun while
working toward a common goal.
Leadership.
Employees share the company’s vision and passion,
WHY US
employees always strive to produce excellent work
They embrace their responsibilities, enjoy the process of solving problems, and