.service {
    margin-bottom: $space-xxl;
    padding: $space-l;
    display: flex;
    flex-direction: column;
    align-items: center; background-image: linear-gradient(to bottom, $main-color 60%, transparent 40%);
    
    &__container {
        width: 90%;
        -webkit-box-shadow: -9px 10px 7px -7px rgba(172, 172, 172, 0.75);
        -moz-box-shadow: -9px 10px 7px -7px rgba(174, 174, 174, 0.75);
        box-shadow: -9px 10px 7px -7px rgba(167, 167, 167, 0.75);
    }
    h1, h4 {
        margin-bottom: $space-m;
        font-size: $font-size-xl;
        font-weight: 500;
        text-align: center;
        color: $color-tertiary;
        display: inline-block;
        background-image: linear-gradient(to right, $color-tertiary 50%, transparent 50%);
        background-size: 60% 0.2rem; /* Adjust the thickness of the underline */
        background-position: 90% 100%; /* Align the underline to the bottom */
        background-repeat: no-repeat;
        padding-bottom: 1.4rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30rem;
        width: 100%;
        -webkit-box-shadow: -1px 0px 7px -1px rgba(185, 185, 185, 0.75);
        -moz-box-shadow: -1px 0px 7px -1px rgba(182, 182, 182, 0.75);
        box-shadow: -1px 0px 7px -1px rgba(163, 163, 163, 0.75);
    }

    &__content {
        text-align: left;
        padding: 2rem 1rem 1rem;
        background-color: #ffffff;
    }
    &__title {
        font-weight: 700;
        color: $title-color;
        font-size: 1rem;
        margin-bottom: 1rem;

        &:hover {
            color: $color-tertiary;
            transition: color 0.5s;
        }
    }

    &__img {
        height: 16.4rem;
        width: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.01);
            transition: transform 0.5s;
        }
    }

    &__desc {
        color: #777;
        font-size: 1rem;
        cursor: text;
    }
}

.fa-flask {
    font-size: 1rem;
    color: #f6d365;
    border: 1px solid #f6d365;
    border-radius: 50%;
}