<div class="tab-port-12 tab-land-12 phone-12 desktop-12">
    <div data-controller="slider" class="banner">
        <div class="slider">
            <% @hero_images.each do |hero_image| %>
                <% hero_image.images.each do |image| %>
                    <%= image_tag image, class: "slider__img" %>
                <% end %>
            <% end %>
        </div>
    
        <div class="overlay">
            <div class="row">
                <div class="desktop-12 tab-land-3 tab-port-3 phone-12">
                    <div class="banner__text">
                        <h1 class="banner-heading"> quality and comprehensive support.</h1>
                        <p>
                        Our unique approach to sourcing and supplying the highest quality, best value products and brands, providing precisely what you need, exactly when and
where you need it.
</p>
                       <div class="btn-group">
                            <%= button_to "Learn More", about_us_path, method: :get, class: "btn btn--main  btn--mob" %>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>