<section class="section">
    <%= render 'slider' %>
</section>

<%= render 'ourservices/grid' %>

<section class="why">
    <h1 class='why__title'>Why us</h1>
    <div class="row ">
        <div class="desktop-4 tab-port-2 tab-land-2 phone-12">
            <div class="why__card">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <div class="content">
                    <h4>TRUST</h4>
                    <p>
                    The work environment is open, honest, collaborative, and family-oriented.</p>
                </div>
            </div>
        </div>
        <div class="desktop-4 tab-port-2 tab-land-2 phone-12">
            <div class="why__card">
            <i class="fa-solid fa-money-check-dollar"></i>
                <div class="content">
                    <h4>INDIVIDUALITY</h4>
                    <p>HYG & SAN TECH COMPANY LTD deeply respect the knowledge, skills,
                    ideas, and capabilities that each employee brings to the team.</p>
                </div>
            </div>
        </div>
        <div class="desktop-4 tab-port-2 tab-land-2 phone-12">
            <div class="why__card">
            <i class="fa-solid fa-business-time"></i>
                <div class="content">
                    <h4>MORE YEARS OF EXPERINCE</h4>
                    <p>HYG & SAN TECH COMPANY LTD deeply respect the knowledge, skills,
                    ideas, and capabilities that each employee brings to the team. With a proven track record, our team bring deep industry knowledge and expertise, offering reliable solutions and insights honed over years of practice</p>
                </div>
            </div>
        </div>
        <div class="desktop-4 tab-port-2 tab-land-2 phone-12">
            <div class="why__card">
            <i class="fa-solid fa-phone-volume"></i>
                <div class="content">
                    <h4>CREATIVITY</h4>
                    <p>Our professionals are fountains of new ideas, fueling better products,
                    services, and processes. HYG & SAN TECH COMPANY LTD embraces
                    laughter, humor, and having fun while working toward a common goal.</p>
                </div>
            </div>
        </div>
        <div class="desktop-4 tab-port-2 tab-land-2 phone-12">
            <div class="why__card">
            <i class="fa-solid fa-medal"></i>
                <div class="content">
                    <h4> QUALITY</h4>
                    <p>HYG & SAN TECH COMPANY LTD employees always strive to produce
                    excellent work that pushes the company upward. They embrace their
                    responsibilities, enjoy the process of solving problems, and solutions and add
                    value to customers.
                    </p>
                </div>
            </div>
        </div>
        <div class="desktop-4 tab-port-2 tab-land-2 phone-12">
            <div class="why__card">
                <i class="fa-solid fa-truck-fast"></i>
                <div class="content">
                    <h4>LEADERSHIP</h4>
                    <p>Employees share the company’s vision and passion,</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <h4>OUR PARTNERS</h4>
    <div class="row">
    <% @partners.each do |partner| %>
        <div class="desktop-3 tab-port-6 tab-land-6 phone-4">
            <div class="partners__item">
                <%= image_tag partner.image, class: "partners__img" %>
            </div>
        </div>
    <% end %>
    </div>
</section>
