<div class="service-show">
    <div class="container">
        <div class="service-show__content">
            <h1><%= ourservice.Title %></h1>
                <p><%= ourservice.description %></p>
        </div>
        <div class="service-show__img">
            <%= image_tag ourservice.image %>
        </div>
    </div>
</div>

