<<<<<<< HEAD
@use "sass:color";
@use '../config/variables' as var;
@use '../mixins/media' as media;

.btn {
    background-color: var.$color-white;
=======
@use '../config/variables' as *;
@use '../mixins/media' as *;

.btn {
    background-color: $color-white;
>>>>>>> dep
    outline: none;
    border: none;
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 11px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
<<<<<<< HEAD
        background-color: color.adjust(var.$color-white, $lightness: 10%);
=======
        background-color: darken($color-white, 10%);
>>>>>>> dep
    }

    &--mid {
        width: 100%;
    }

    &--small {
       width: 20%;
    }

    &--main {
<<<<<<< HEAD
        background-color: var.$secondary-color;
        color: var.$color-white;

        &:hover {
            background-color: color.adjust(var.$main-color, $lightness: 10%);
=======
        background-color: $secondary-color;
        color: $color-white;

        &:hover {
            background-color: darken($main-color, 10%);
>>>>>>> dep
        }
    }

    &--secondary {
<<<<<<< HEAD
        background-color: var.$color-white;
=======
        background-color: $color-white;
>>>>>>> dep
        color: black;
    }

    &--comp {
      background-color: #276988;
<<<<<<< HEAD
      color: var.$color-white;
=======
      color: $color-white;
>>>>>>> dep
    }

    &--border {
        border: 1px solid #276988;
    }

    &--mob {
<<<<<<< HEAD
        @include media.respond(phone) {
=======
        @include respond(phone) {
>>>>>>> dep
        width: 100%;
        font-size: 0.9rem;
        align-self: flex-end;
        }
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
<<<<<<< HEAD
    color: red;
=======
    
>>>>>>> dep
}