<div class="about">
    <div class="about__header">
        <h6>We provide the best services. Need help?</h6>
        <h1>About Us</h1>
        <p>Trust, Integrity, Punctuality, Quality, to be Open, to be Kind, to be Role Model</p>
    </div>
    <div class="about__content">
       <div class="row">
           <div class="desktop-6 phone-12 tab-port-12">
                <div class="about_text">
                    <h5>We are increasing bussiness success with the technology</h5>
                        <p>HYG & SAN TECH COMPANY Limited is an independent supplier of laboratory
                        equipment, chemicals, consumables, personal protective equipment as well
                        as maintenance and of the supplied items.</p>
                        <p>We are essential to our customers by providing the best products and 
                        services to help them achieve their aspirations.</p>

                        <p>Our unique approach to sourcing and supplying the highest quality, best value
                        products and brands, providing precisely what you need, exactly when and
                        where you need it.</p>

<p>We are committed to continuously building the company through our team's
dedication to the values of innovation, integrity, reliability, service and teamwork.</p>

                </div>
           </div>
            <div class="desktop-6 phone-12 tab-port-6">
                <div class="about_images">
                    <% @hero_images.each do |hero_image| %>
                        <% images = hero_image.images.limit(1) %>
                        <% images.each do |image| %>
                            <%= image_tag image, class: "about__img" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
       </div>
    </div>

</div>