<div class="about">
    <div class="about__header">
        <h6>We provide the best services. Need help?</h6>
        <h1>About Us</h1>
        <p>Trust, Integrity, Punctuality, Quality, to be Open, to be Kind, to be Role Model</p>
    </div>
    <div class="about__content">
       <div class="row">
           <div class="desktop-6 phone-12 tab-port-12">
                <div class="about_text">
                    <h5>We are increasing bussiness success with the technology</h5>
                        <p>The company was founded in 2015 in Tanzania by Tanzanians. It started as a supplier
                        of laboratory equipment, chemicals, consumables, personal protective equipment as
                        well as maintenance of the supplied items. But by 2017 it started selling raw materials
                        like Caustic soda flakes, Sodium hypochlorite, Common salts, etc. to the Food
                        industries like CCK, Bakheresa Food Products, Super Meal Food, Sayona Food
                        Products, Jambo Food Product, and Mega Beverage Limited.</p>

                        <p>
                        In 2023 the company moved its operations to Mkuranga which opened its own
blending and mixing plant and was previously held in the SIDO Industrial area -
Vingunguti.
                        </p>

                        <p> Now the company manufactures and supplies products with the initial name of
                        HYSAN – AD which is used as CIP, COP, Conveyor Lubrications, Utilities Chemicals,
                        WSP, WTP, and WSP, in addition, also provides services when you choose to use our
                        products.</p>

                        <p>To meet the needs of our customers the company is certified by ISO 9001:2015
                        Quality Management System and ISO 22000:2018 Food Safety System. and has also
                        undergone the process of the country's requirements to obtain recognition by
                        government institutions and authorities such as TBS, GLCA, OSHA, etc. </p>

                        <p>We are essential to our customers by providing the best products and 
                        services to help them achieve their aspirations.</p>

                        <p>Our unique approach to sourcing and supplying the highest quality, best value
                        products and brands, providing precisely what you need, exactly when and
                        where you need it.</p>

<p>We are committed to continuously building the company through our team's
dedication to the values of innovation, integrity, reliability, service and teamwork.</p>

                </div>
           </div>
            <div class="desktop-6 phone-12 tab-port-6">
                <div class="about_images">
                    <% @hero_images.each do |hero_image| %>
                        <% images = hero_image.images.limit(1) %>
                        <% images.each do |image| %>
                            <%= image_tag image, class: "about__img" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
       </div>
    </div>

</div>