<footer class="interesting-infos">
    <div class="footer-top">
        <div class="logo">
            <%= image_tag "Kamic.PNG", alt: "Logo" %>
        </div>
        <div class="contact ">
            <i class="fa-solid fa-message"></i>
            <span>Have a question? <br>
            <a href="tel:123-456-7890">+255 683 156 298</a></span>
        </div>
        <div class="social">
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-section">
            <h3>INTERESTING INFOS</h3>
            <p>We seek to survive market conditions and contribute immensely to the economic growth of the country.</p>
        </div>
     
        <div class="footer-section">
            <h3>HYSAN TECHNOLOGY</h3>
            <p>P. O. BOX 33281, DAR-ES-SALAAM, TANZANIA</p>
            <p>Tel: +255 683 156 298<br>
            info@hygieneandsanitation.co.tz
            hysanconsult@gmail.com
            <p>OFFICE HOURS<br>Mo-Fr: 8:00-19:00<br>Sa: 8:00-14:00<br>Su: closed</p>
        </div>
        <div class="footer-section">
            <h3>LATEST PROJECTS</h3>
            <ul>
                <li>supplier
                of laboratory equipment</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
       <div class="empt">
       &nbsp;
       </div>
        <a href="">Copyright © 2024 Hysan, All Rights Reserved.</a>
        <div class="empt">
        &nbsp;
        </div>
    </div>
</footer>
